/* without border */
html{
    margin:0;
    padding:0;
}
body{
    background-color: #222223;
}
#root{
color:lightskyblue;
margin:0 auto;
/* padding:5%; */
font-family:Arial;
}

.menu{
   display: flex;
   justify-content: center;
   margin:10px;
}

.component{
    margin:10px;
    overflow: hidden;
}

#squat ,#dead ,#bench{
    border:1px solid orange;
    padding:10px;
    border-radius:5px 5px 5px 5px;
}

a {
    text-decoration: none;
    color:orange;
    font-size: 11px;
    border:1px solid orange;
    margin-right:10px;
    padding:10px ;
    cursor: pointer;
    border-radius:4px 4px 4px 4px;
}

a:hover{
    color:#333334;
    background-color: orange;
    border-radius:4px 4px 4px 4px;
}

.selected{
    border-radius:4px 4px 4px 4px;
    border:1px solid lightskyblue;
    background-color: lightskyblue;
    color:white;
}

.selected:hover{
    border:1px solid orange;
}
h1 , h3{
    color:orange;
    padding-left:5px;
}


input{
    padding:9px 10px;
    border-radius:4px 4px 4px 4px;
    width:100%;
}


button{
    background-color: transparent;
    text-decoration: none;
    color:orange;
    font-size: 14px;
    border:1px solid orange;
    /* margin:10px 0; */
    /* padding:5px 30px; */
    cursor: pointer;
    /* margin-right:10px; */

    border-radius:4px 4px 4px 4px;
    padding:10px 50px;
    margin:5px;
}

button:hover{
    color:#333334;
    background-color: orange;
    border-radius:4px 4px 4px 4px;
    border:1px solid orange;
}
.bottomb{
    display: block;
    width:100%;
    margin:5px 0;
}
.red{
    border:1px solid red;   
    color:red;
}
.red:hover{
    border:1px solid white;   
    color:white;
    background-color: red;
    cursor: pointer;
}
.row {
/* padding:10px; */
/* border:1px solid lightseagreen; */
/* margin:20px 0; */
}

.span{
    margin-right:13px;
    font-size: 11px;
}
.span:first-child{
    color:white;
}
.topCalc{
    background-color: orange;
    padding:10px;
    color:#222223;
    border-radius:5px 5px 5px 5px;
    text-align: center;
}
.viewBox{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0;
    
}
h3{
    display: inline-block;
    font-size: 14px;
}
.weight{
    color:lightskyblue;
    font-size: 14px;
}
.check{
    display:inline-block;
    text-align: center;
    border:1px solid lightskyblue;
    border-radius:5px 5px 5px 5px;
    padding:15px 0;
    margin:10px;
    color:lightskyblue;
    width:25%;
}

.check:hover{
    cursor: pointer;
    background-color:lightskyblue;
    color:white;
}

.checked{
    display:inline-block;
    text-align: center;
    border:1px solid white;
    border-radius:5px 5px 5px 5px;
    padding:15px 0;
    margin:10px;
    background-color:red;
    color:white;
    width:25%;
}

.done{
    display: none;
}

.ms , .md , .mb{
    background-color: red;
}
.btn{
    width:100%;
}
