
html{
    margin:0;
    padding:0;
}
body{
    background-color: #222223;
    border:1px solid orange;
    border-radius:4px 4px 4px 4px;
}
#root{
color:lightskyblue;
margin:0 auto;
/* padding:5%; */
font-family:Arial;
}

.menu{
   display: flex;
   justify-content: center;
   margin:10px;
}

.component{
    margin:10px;
    overflow: hidden;
}

#squat ,#dead ,#bench{
    border:1px solid orange;
    padding:10px;
    border-radius:5px 5px 5px 5px;
}

a {
    text-decoration: none;
    color:orange;
    font-size: 11px;
    border:1px solid orange;
    margin-right:10px;
    padding:10px ;
    cursor: pointer;
    border-radius:4px 4px 4px 4px;
}

a:hover{
    color:#333334;
    background-color: orange;
    border-radius:4px 4px 4px 4px;
}

.selected{
    border-radius:4px 4px 4px 4px;
    border:1px solid lightskyblue;
    background-color: lightskyblue;
    color:white;
}

.selected:hover{
    border:1px solid orange;
}
h1 , h3{
    color:orange;
    padding-left:5px;
}


input{
    padding:9px 10px;
    border-radius:4px 4px 4px 4px;
    width:91%;
}


button{
    background-color: transparent;
    text-decoration: none;
    color:orange;
    font-size: 14px;
    border:1px solid orange;
    /* margin:10px 0; */
    /* padding:5px 30px; */
    cursor: pointer;
    /* margin-right:10px; */

    border-radius:4px 4px 4px 4px;
    padding:10px 50px;
    margin:5px;
}

button:hover{
    color:#333334;
    background-color: orange;
    border-radius:4px 4px 4px 4px;
    border:1px solid orange;
}
.bottomb{
    display: block;
    width:100%;
    margin:5px 0;
}
.red{
    border:1px solid red;   
    color:red;
}
.red:hover{
    border:1px solid white;   
    color:white;
    background-color: red;
    cursor: pointer;
}
.row {
/* padding:10px; */
/* border:1px solid lightseagreen; */
/* margin:20px 0; */
}

.span{
    margin-right:13px;
    font-size: 11px;
}
.span:first-child{
    color:white;
}
.topCalc{
    background-color: orange;
    padding:10px;
    color:#222223;
    border-radius:5px 5px 5px 5px;
    text-align: center;
}
.viewBox{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0;
    
}
h3{
    display: inline-block;
    font-size: 14px;
}
.weight{
    color:lightskyblue;
    font-size: 14px;
}
.check{
    display:inline-block;
    text-align: center;
    border:1px solid lightskyblue;
    border-radius:5px 5px 5px 5px;
    padding:15px 0;
    margin:10px;
    color:lightskyblue;
    width:25%;
}

.check:hover{
    cursor: pointer;
    background-color:lightskyblue;
    color:white;
}

.checked{
    display:inline-block;
    text-align: center;
    border:1px solid white;
    border-radius:5px 5px 5px 5px;
    padding:15px 0;
    margin:10px;
    background-color:red;
    color:white;
    width:25%;
}

.done{
    display: none;
}

.ms , .md , .mb{
    background-color: red;
}
.btn{
    width:100%;
}
/* 
@media screen and (max-width:375px){
    body{margin:0;}
#root{
    margin:0 auto;
    width:100%;
  
a{
display: inline-block;
width:100%;
padding:3px 0;
text-align: center;
margin:3px 0;
}
.topCalc{
    margin: 0px 0;
    border:1px solid orange;
    color: orange;
    background-color: transparent;
    padding: 7px;
}
.span {
    margin-right: 0px;
    font-size: 9px;
    padding: 0 7px;
}
h2{
    font-size: 28px;
}
h3 ,.weight{
    font-size: 14px;
    width:150px;
    margin:20px;
}
.viewBox{
  float:none;  
  margin: 4px 0;
}

.check , .checked {
 display: inline-block;
 padding: 10px 48px;
   
}
.btn{
    position:relative;
   top:18px;
}
}

@media screen and (max-width:320px){
    body{margin:0;}
#root{
    margin:0 auto;
    width:100%;
   
a{
display: inline-block;
width:100%;
padding:3px 0;
text-align: center;
margin:3px 0;
}
.topCalc{
    margin: 0px 0;
    border:1px solid orange;
    color: orange;
    background-color: transparent;
    padding: 7px;
}
.span {
    margin-right: 0px;
    font-size: 9px;
    padding: 0 7px;
}
h2{
    font-size: 16px;
}
h3 ,.weight{
    font-size: 14px;
    width:150px;
    margin:9px 0 0 0;
}
.viewBox{
  float:none;  
  margin: 4px 0;
}

.check , .checked {
 display: inline-block;
 padding: 10px 39px;
   
}
.btn{
   display: block;
   margin-bottom: 20px;
}
.row{
    margin:16px 0;
}
.bottomb{
    margin-top: 16px;
}
} */